<h1>Magazines</h1>

<p *ngIf="!magazines"><em>Loading...</em></p>

<div *ngIf="magazines">

  <kendo-grid [data]="magazines.magazines">
    <ng-template kendoGridToolbarTemplate [position]="'top'">
      <button class="k-button" [routerLink]="['/admin/createMagazine']">Create</button>
    </ng-template>
    <kendo-grid-column field="name" title="Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="yearOfPublishing" title="YearOfPublishing" width="80">
    </kendo-grid-column>
    <kendo-grid-column title="Command" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton [routerLink]="['/admin/magazineEdit/', dataItem.id]">Edit</button>
        <button kendoButton (click)="delete(dataItem.id)">Delete</button>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
      <section *ngIf="dataItem.publisher">
        <p><b>Publishers:</b></p>
        <p><i *ngFor="let publisher of dataItem.publisher">"{{ publisher.name }}" </i></p>
      </section>
    </ng-template>
  </kendo-grid>
    <app-pagination [pageInfo]="magazines.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>
</div>



