<div *ngIf="newspaper">
    <div *ngIf="newspaper.id != undefined" class="container-fluid back-body" >
        <div class="col-md-push-4 col-md-4">
            <div class="panel back-body-main">
                <button class="btn btn-default btn-xs btn-block back-body-main" (click)="close()"><b>Close</b></button>
                <div class="panel-title">
                <h2 class="text-center">Newspaper "{{ newspaper.name | uppercase }}" Details</h2>
                </div>
                <div class="panel-body">
                    <div><b>Name: </b>{{newspaper.name}}</div>
                    <div><b>Year of publishing: </b>{{newspaper.yearOfPublishing}}</div>
                    <div>
                        <b>Publishers: </b>
                        <a *ngFor="let publisher of newspaper.publisher" routerLink="/publisher/{{publisher.id}}">{{publisher.name}} </a>
                    </div>
                </div>
            </div>
            

         
        </div>
    </div>

</div>