<h1>{{title}}</h1>
<h3>Newspaper</h3>
<hr />
<form (ngSubmit)="save()" #authorForm="ngForm">

    <div class="form-group row">
        <label class=" control-label col-md-12" for="Name">Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" id="name"
                   required
                   [(ngModel)]="newspaper.name" name="name"
                   #name="ngModel">
        </div>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
            Name is required
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-12" for="YearOfPublishing">YearOfPublishing</label>
        <div class="col-md-4">
            <input class="form-control" type="number" id="yearOfPublishing"
                   required
                   [(ngModel)]="newspaper.yearOfPublishing" name="yearOfOpening"
                   #yearOfPublishing="ngModel">
        </div>
        <div [hidden]="yearOfPublishing.valid || yearOfPublishing.pristine"
             class="alert alert-danger">
            Year Of Opening is required
        </div>
    </div>

    <div class="form-group row">

        <label class="control-label col-md-12" for="Publishers">Publisher</label>
        <div class="col-md-4">

            <select multiple name="selectedPublishers" class="form-control" [(ngModel)]="newspaper.publisher">
                <option *ngFor="let publisher of publishers" [ngValue]="publisher">
                    {{ publisher.name }}
                </option>
            </select>
            <label class="control-label col-md-12" for="CurrentPublishers">CurrentPublishers</label>
            <ul>
                <li *ngFor="let publisher of newspaper.publisher"><i>{{publisher.name}}</i></li>
            </ul>
        </div>


    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!authorForm.form.valid || isRequesting">Save</button>
        <button class="btn" (click)="cancel()">Cancel</button>
    </div>
</form>
