<h1>{{title}}</h1>
<h3>Magazine</h3>
<hr />
<form (ngSubmit)="save()" #authorForm="ngForm">

    <div class="form-group row">
        <label class=" control-label col-md-12" for="Name">Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" id="name"
                   required
                   [(ngModel)]="magazine.name" name="name"
                   #name="ngModel">
        </div>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
            Name is required
        </div>
    </div>
    
    <div class="form-group row">
        <label class="control-label col-md-12" for="YearOfPublishing">YearOfPublishing</label>
        <div class="col-md-4">
            <input class="form-control" type="number" id="yearOfPublishing"
                   required
                   [(ngModel)]="magazine.yearOfPublishing" name="yearOfOpening"
                   #yearOfPublishing="ngModel">
        </div>
        <div [hidden]="yearOfPublishing.valid || yearOfPublishing.pristine"
             class="alert alert-danger">
            Year Of Opening is required
        </div>
    </div>

    <div class="form-group row">

        <label class="control-label col-md-12" for="Publishers">Publisher</label>
        <div class="col-md-4">
          <kendo-multiselect [data]="publishers"
                             textField="name"
                             valueField="id"
                             [(ngModel)]="magazine.publisher"
                             name="selectedPublishers">
          </kendo-multiselect>
        </div>


    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!authorForm.form.valid || isRequesting">Save</button>
        <button class="btn" (click)="cancel()">Cancel</button>
    </div>
</form>
