<h1>Magazines</h1>

<p *ngIf="!magazines"><em>Loading...</em></p>

<app-magazine [magazine]="selectedMagazine"></app-magazine>

<div *ngIf="magazines" class="container-fluid">
    <div class="row">
        <div *ngFor="let magazine of magazines.magazines" class="col-md-2 magazine"  (click)="onClick(magazine)" app-hover>
            <div>
                <img class="img-responsive" src="../../../../assets/magazineimg.png" alt="magazine img" />
            </div>
            <h2 class="text-center">{{magazine.name}}</h2>
        </div>
    </div>
    <app-pagination [pageInfo]="magazines.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>
</div>





