<h1>Newspapers</h1>
<p *ngIf="!newspapers"><em>Loading...</em></p>

<div *ngIf="newspapers">
  <kendo-grid [data]="newspapers.newspapers">
    <ng-template kendoGridToolbarTemplate [position]="'top'">
      <button class="k-button" [routerLink]="['/admin/createNewspaper']">Create</button>
    </ng-template>
    <kendo-grid-column field="name" title="Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="yearOfPublishing" title="YearOfPublishing" width="80">
    </kendo-grid-column>
    <kendo-grid-column title="Command" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton [routerLink]="['/admin/newspaperEdit/', dataItem.id]">Edit</button>
        <button kendoButton (click)="delete(dataItem.id)">Delete</button>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
      <section *ngIf="dataItem.publisher">
        <p><b>Publishers:</b></p>
        <p><i *ngFor="let publisher of dataItem.publisher">"{{ publisher.name }}" </i></p>
      </section>
    </ng-template>
  </kendo-grid>
    <app-pagination [pageInfo]="newspapers.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>
</div>


