<h1>Publishers</h1>

<p *ngIf="!publishers"><em>Loading...</em></p>

<div *ngIf="publishers">

  <kendo-grid [data]="publishers.publishers">
    <ng-template kendoGridToolbarTemplate [position]="'top'">
      <button class="k-button" [routerLink]="['/admin/createPublisher']">Create</button>
    </ng-template>
    <kendo-grid-column field="name" title="Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="yearOfOpening" title="YearOfOpening" width="80">
    </kendo-grid-column>
    <kendo-grid-column title="Command" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton [routerLink]="['/admin/publisherEdit/', dataItem.id]">Edit</button>
        <button kendoButton (click)="delete(dataItem.id)">Delete</button>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
      <section *ngIf="dataItem.books">
        <p><b>Books:</b></p>
        <p><i *ngFor="let book of dataItem.books">"{{book.name}}" </i></p>
      </section>
      <section *ngIf="dataItem.magazines">
        <p><b>Magazines:</b></p>
        <p><i *ngFor="let magazine of dataItem.magazines">"{{magazine.name}}" </i></p>
      </section>
      <section *ngIf="dataItem.newspapers">
        <p><b>Newspapers:</b></p>
        <p><i *ngFor="let newspaper of dataItem.newspapers">"{{newspaper.name}}" </i></p>
      </section>
    </ng-template>
  </kendo-grid>
    <app-pagination [pageInfo]="publishers.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>
</div>
