<h1>Authors</h1>

<div *ngIf ="message" class="alert alert-info" (click)="onMessageClick()">
    {{message}}
</div>

<p *ngIf="!authors"><em>Loading...</em></p>


<div *ngIf="authors">

  <kendo-grid [data]="authors.authors" >
    <ng-template kendoGridToolbarTemplate [position]="'top'">
      <button class="k-button" [routerLink]="['/admin/createAuthor']">Create</button>
    </ng-template>
    <kendo-grid-column field="name" title="Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="yearOfBirth" title="YearOfBirth" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="yearOfDeath" title="YearOfDeath" width="80">
    </kendo-grid-column>
    <kendo-grid-column title="Command" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton [routerLink]="['/admin/authorEdit/', dataItem.id]">Edit</button>
        <button kendoButton (click)="delete(dataItem.id)">Delete</button>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
      <section *ngIf="dataItem.books">
        <p><b>Books:</b></p>
        <p><i *ngFor="let book of dataItem.books">"{{ book.name }}" </i></p>
      </section>
    </ng-template>
  </kendo-grid>
    <app-pagination [pageInfo]="authors.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>
</div>
