
<h1>Books</h1>

<p *ngIf="!paginatedBooks"><em>Loading...</em></p>
<app-book [book]="selectedBook"></app-book>

<div *ngIf="paginatedBooks" class="container-fluid">
    <div class="row">
        <div *ngFor="let book of paginatedBooks.books" class="col-md-2 book" (click)="onClick(book)" app-hover>
            <div>
                <img class="img-responsive" src="../../../../assets/bookimg.png" alt="book img" />
            </div>
            <h2 class="text-center">{{book.name}}</h2>
            <span>Authors: </span>
            <i *ngFor="let author of book.authors">{{author.name}} </i>
        </div>
    </div>

    <app-pagination [pageInfo]="paginatedBooks.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage) ="onChange($event)">
    </app-pagination>
</div>

