﻿<div *ngIf="pageInfo" class="row">

    <div *ngIf="pageInfo.totalItems > 5" class="col-md-2" style="max-width:100px">
        <br />
        <select class="form-control" (change)="onChange($event.target.value)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </div>

    <div class=" col-md-4">
        <ul *ngIf="pageInfo.totalPages > 1" class="pagination">
            <li [class.disabled] ="tryPrevPage() == 0" (click)="onPrev()"><a > Previous </a></li>
            <li *ngIf="tryPrevPage() != 0" (click)="onPrev()"><a> {{tryPrevPage()}} </a></li>
            <li class="active"><a> {{pageInfo.currentPage}} </a></li>
            <li *ngIf="tryNextPage() != 0" (click)="onNext()"><a> {{tryNextPage()}} </a></li>
            <li [class.disabled] ="tryNextPage() == 0" (click)="onNext()"><a> Next </a></li>
        </ul>
    </div>
    
</div>