<h1>Books</h1>

<div *ngIf="message" class="alert alert-info" (click)="onMessageClick()">
  {{message}}
</div>
<p *ngIf="!books"><em>Loading...</em></p>

<div *ngIf="books">
  <kendo-grid [data]="books.books" >
    <ng-template kendoGridToolbarTemplate [position]="'top'">
      <button class="k-button" [routerLink]="['/admin/createBook']">Create</button>
    </ng-template>
    <kendo-grid-column field="name" title="Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="yearOfPublishing" title="YearOfPublishing" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="yearOfWriting" title="YearOfWriting" width="80">
    </kendo-grid-column>
    <kendo-grid-column title="Command" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton [routerLink]="['/admin/bookEdit/', dataItem.id]">Edit</button>
        <button kendoButton (click)="delete(dataItem.id)">Delete</button>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
      <section *ngIf="dataItem.authors">
        <p><b>Authors:</b></p>
        <p><i *ngFor="let author of dataItem.authors">"{{ author.name }}" </i></p>
      </section>
      <section *ngIf="dataItem.publisher">
        <p><b>Publishers:</b></p>
        <p><i *ngFor="let publisher of dataItem.publisher">"{{ publisher.name }}" </i></p>
      </section>
    </ng-template>
  </kendo-grid>

  <app-pagination [pageInfo]="books.pageInfo"
                  (goPrev)="goPrevious()"
                  (goNext)="goNext()"
                  (goChangePerPage)="onChange($event)">
  </app-pagination>

</div>


