<h1>Books</h1>

<div *ngIf="message" class="alert alert-info" (click)="onMessageClick()">
    {{message}}
</div>
<p>
    <a class="btn-sm btn-success btn-block text-center " [routerLink]="['/admin/createBook']">Create New</a>
</p>
<p *ngIf="!books"><em>Loading...</em></p>

<div *ngIf="books">
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>Name</th>
                <th>YearOfPublishing</th>
                <th>YearOfWriting</th>
                <th>Publishers</th>
                <th>Authors</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books.books">
                <td>{{ book.name }}</td>
                <td>{{ book.yearOfPublishing }}</td>
                <td>{{ book.yearOfWriting }}</td>
                <td><i *ngFor="let publisher of book.publisher">"{{ publisher.name }}" </i></td>
                <td><i *ngFor="let author of book.authors">"{{ author.name }}" </i></td>
                <td>
                    <a class="btn-xs btn-info" [routerLink]="['/admin/bookEdit/', book.id]">Edit</a> |
                    <a class="btn-xs btn-danger" [routerLink]="" (click)="delete(book.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <app-pagination [pageInfo]="books.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>




</div>


