<h1>Newspapers</h1>

<p *ngIf="!newspapers"><em>Loading...</em></p>

<app-newspaper [newspaper]="selectedNewspaper"></app-newspaper>

<div *ngIf="newspapers" class="container-fluid">
    <div class="row">
        <div *ngFor="let newspaper of newspapers.newspapers" class="col-md-2 newspaper"  (click)="onClick(newspaper)" app-hover>
            
            <div>
                <img class="img-responsive" src="../../../../../wwwroot/newspaperimg.png" alt="newspaper img" />
            </div>
            <h2 class="text-center text-capitalize">{{newspaper.name}}</h2>
        </div>
    </div>
    <app-pagination [pageInfo]="newspapers.pageInfo"
                    (goPrev)="goPrevious()"
                    (goNext)="goNext()"
                    (goChangePerPage)="onChange($event)">
    </app-pagination>
</div>
